<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
        <header>
        <nav>
            <ul>
                <li><a href='@Url.Action("Index")'><img src="/BanderaArg.webp" width="5%"  alt=""></a></li>
                <li><a href='@Url.Action("Elecciones")'>Elecciones 2023</a></li>
                <li><a href='@Url.Action("Creditos")'>Creditos</a></li>
            </ul>
        </nav>
        </header>
        <div style="padding:20px 10px 0px 10px;">
            @RenderBody()
        </div>
        
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
    
</html>
