<!DOCTYPE html>
<html>
<head>
    <title>Créditos</title>
    <style>
       
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            

        }

        body {
            background-image: url(/cabildo.jpg);
            background-size: cover;
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 40px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .title {
            text-align: center;
            margin-bottom: 30px;
            font-size: 24px;
            color: #333;
        }

        .credit-list {
            list-style-type: none;
            margin-bottom: 20px;
        }

        .credit-list li {
            font-size: 18px;
            color: #555;
            margin-bottom: 10px;
        }

        .credit-list li:last-child {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="title">Créditos</h1>
        <ul class="credit-list">
            <li>Joaquín Lasca</li>
            <li>Tomás Lerman</li>
        </ul>
    </div>
</body>
</html>
